/*
  questions to be resolved: 
  - do i need to change text overlay on portfolio images using z index, or is it ok the way i have it
    */

body {
  background-image: url("../../assets/images/circle blues/circle-blues.png");
  margin: 0px;
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12pt;
}

button {
  background-color: #4aaaa5;
  padding: 10px 30px 10px 30px;
  border-width: 0px;
  /* chose this text color as opposed to #777777 because it appeared to match the provided
  examples better */
  color: #ffffff;
  font-size: 12pt;
}

input[type=text], select {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 97%;
  margin-top: 5px; 
  margin-bottom: 15px;
  padding: 10px
}

input[type=submit], select {
  display: inline-block;
  width: 80%;
}

#name {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  position: relative;
  top: 11px;
  left: 150px;
  display: inline;
  padding: 15px;
  background-color: #4aaaa5;
}

#footer {
  clear: both;
  width: 100%;
  /* position and bottom keep footer sticky */
  position: fixed;
  bottom: 0;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: xx-small;
  text-align: center;
  padding-top: 25px;
}

#maxpic {
  margin-bottom: 10px;
  margin-right: 25px;
  float: left;
}

/* first link, top right page */
#about {
  color: #777777;
  padding-right: 20px;
  clear: both;
}

/* second link, top right page, has the grey side borders */
#portfolio {
  color: #777777;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #777777;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* third link, top right page */
#contact {
  color: #777777;
  padding-left: 20px;
}

#messageform {
  padding-bottom: 300px;
}

#table {
  /* no styling needed yet, but a useful class i think */
}

.topbanner {
  width: 100%;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-bottom-width: 1px;
  padding-bottom: 26px;
  padding-top: 4px;
}

.content {
  position: relative;
  left: 140px;
  right: 100px;
  width: 958px;
  margin: 30px 10px 100px 10px;
  align-self: center;
  overflow: scroll;
  background-color: #ffffff;
  border-style: solid;
  border-color: #666666;
  border-width: 1px;
}

.subcontent {
  margin: 25px;
  overflow: auto;
}

.navlinks {
  color: #777777;
  font-size: 10pt;
  float: right;
  position: relative;
  right: 155px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageheader {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
  background-color: #ffffff;
  border-color: #cccccc;
  margin: 25px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-width: 2px;
  padding-bottom: 25px;
}

.inputforms {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777
}

.projectname {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #4aaaa5;
  /* chose this text color as opposed to #777777 because it appeared to match the provided
  examples better */
  color: #ffffff;
  font-size: 11pt;
  margin-top: 120px;
  padding: 20px 78px 20px 78px;
  position: absolute;
  float: left;
}

.portfolioimages {
  margin: 20px 40px 20px 0px;
  clear: both;
  float: left;
}


